@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #1a3869;
  --color-secondary: #7b4e2d;
  --color-accent: #f0b429;
  --color-highlight: #f5e6c8;
  --color-action: #c0392b;
}

.Toastify__toast {
  padding: 0 !important;
}
